.clear {
	clear: both;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    background: #fff;
	height: 100%;
	font-size: 15px;
    font-weight: 400;
	line-height: 1.4;
}

body {
	margin: 0;
	height: 100%;
}

* {
	outline: none;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
    color: var(--text-gray-desc);
}

h1 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 500;
    margin-bottom: 40px;
    color: var(--black-color);
}

h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin: 20px 0;
    color: var(--black-color);
}

h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin: 24px 0;
    color: var(--black-color);
}

h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: 18px 0;
    color: var(--black-color);
}

h5 {
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    margin: 17px 0;
    color: var(--black-color);
}

h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 16px 0;
    color: var(--black-color);
}

ul,
ol {
	margin: 20px 0;
	padding: 0;
    list-style: none;
    color: var(--text-gray-desc);
}

li {
    padding: 8px 0 8px 25px;
    list-style: none;
    position: relative;
}

li::before {
    color: red;
    content: "•";
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 20px;
    padding-right: 10px; 
}

table {
	width: 100%;
    display: block;
	padding: 0;
	margin: 30px 0;
    text-align: left;
    border-spacing: 10px 0;
    overflow-x: auto;
    white-space: nowrap;
}

th,
td {
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 140%;
    min-width: 295px;
}

th {
    border-bottom: 2px solid #DA2128;
    color: #000;
}

td {
    border-bottom: 1px solid #E6E6E6;
    color: #4F4F4F;
    font-weight: 400;
}

div {
	vertical-align: top;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	max-width: 100%;
    width: 100%;
	height: auto;
	border-style: none;
}

textarea {
	overflow: auto;
	resize: vertical;
}

a,
a:hover,
a:active,
a:visited {
	text-decoration: none;
	outline: none;
}

dt,
dd {
	line-height: 1.4;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 1em;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

q {
	quotes: '«' '»';
	font-style: italic;
}

q q {
	quotes: '„' '“';
	font-style: italic;
}

blockquote {
	padding: 1.5em;
	margin: 3em;
	border-left: 5px solid var(--text-active-color);
	font-size: 1.2em;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--text-gray-desc);
	margin: 1em 0;
	padding: 0;
}

mark {
	background-color: #fff;
	color: #000;
}

small {
	font-size: 80%;
}