:root {
    --black-color: #000;
    --white-color: #fff;
    --text-gray-color: #7A7A7A;
    --bg-gray-color: #f3f3f3;
    --text-gray-desc: #4f4f4f;
    --border-gray-color: #e6e6e6;
    --advantages-bg-color: #f8f8f8;
    --text-active-color: #DA2128;
    --hover-active-color: #C71219;
    --icons-color-filter: #8d8d8d;
    --wrapper-pk-width: 1280px;
    --wrapper-ipad-width: 768px;
    --wrapper-modile-width: 320px;
}

.act {
	color: var(--text-active-color)!important;
}

a:hover {
    color: var(--text-active-color);
}

body {
	font-family: 'Inter';
	font-size: 15px;
	background: #fff;
	color: var(--black-color);
	font-weight: normal;
}

.wrapper {
	width: var(--wrapper-pk-width);
	margin: 0 auto;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.header__logo {
    width: 305px;
    height: 64px;
}

.header__contacts {
    display: flex;
    justify-content: flex-end;
}

.header__contacts_link {
    text-decoration: none;
    color: var(--text-gray-color);
    margin-left: 27px;
    padding-left: 24px;
    font-size: 14px;
    position: relative;
}

.header__contacts_link:hover {
    color: var(--text-active-color);
}

.header__contacts_link::before {
    content: '';
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
    width: 16px;
    height: 16px;
    background-size: contain;
}

.header__contacts_link_phone::before {
    background: url('../img/phone.svg') center center no-repeat;
}

.header__contacts_link_phone:hover::before {
    background: url('../img/phone_hover.svg') center center no-repeat;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header__contacts_link_email::before {
    background: url('../img/email.svg') center center no-repeat;
}

.header__contacts_link_email:hover::before {
    background: url('../img/email_hover.svg') center center no-repeat;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header__menu {
    margin-top: 14px;
}

.header__menu_items {
    display: flex;
    justify-content: flex-end;
}

.header__menu_item {
    position: relative;
    margin-left: 19px;
    position: relative;
    padding-bottom: 15px;
}

.header__menu_item:hover .header__menu_link {
    color: var(--text-active-color);
}

.header__menu_link {
    text-decoration: none;
    color: var(--black-color);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.header__menu_set {
    margin-right: 18px;
}

.header__menu_set::before {
    content: '';
    position: absolute;
    background: url('../img/menu_set.svg') center center no-repeat;
    width: 8px;
    height: 4px;
    background-size: 8px;
    right: 0px;
    top: 10px;
}

.header__menu_item:hover .header__menu_set::before {
    background: url('../img/menu_set_hover.svg') center center no-repeat;
}

.header__menu_item:hover .header__menu_drop {
    display: inline-block;
    position: absolute;
    top: 35px;
    left: -25px;
}

.header__menu_drop {
    display: none;
    width: auto;
    white-space: nowrap;
    border-radius: 4px;
    padding: 15px 20px;
    border-top: 3px solid var(--text-active-color);
    background-color: var(--white-color);
}

.header__inner-menu_link {
    text-decoration: none;
    display: inline-block;
    color: var(--black-color);
    font-size: 13px;
    margin-bottom: 10px;
}

.header__search {
    margin-left: 22px;
}

.search__form {
    position: relative;
}

.search__form_input {
    background-color: var(--bg-gray-color);
    color: var(--black-color);
    padding: 23px 75px 23px 15px;
    font-weight: normal;
    border-radius: 4px;
	overflow: hidden;
    font-size: 13px;
    outline: none;
    border: none;
    width: 242px;
}

.search__form_input::placeholder,
.search__form_input::-ms-input-placeholder {
    color: var(--text-gray-color);
    text-transform: lowercase;
    font-size: 13px;
    opacity: 1;
}

.search__form_btn {
    position: absolute;
    width: 19px;
    height: 19px;
    background-size: 19px;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    border: none;
}

.search__form_btn-search {
    right: 48px;
    background: url('../img/search.svg') center center no-repeat;
}

.search__form_btn-search:hover {
    background: url('../img/search_hover.svg') center center no-repeat;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.search__form_btn-clear {
    right: 18px;
    background: url('../img/reset.svg') center center no-repeat;
}

.search__form_btn-clear:hover {
    background: url('../img/reset_hover.svg') center center no-repeat;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header__lang {
    padding: 0 20px;
}

.header__lang_link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-gray-color);
}

.header__lang_link:hover {
    color: var(--text-active-color);
}

.btn {
    padding: 20px 19px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 500;
    white-space: nowrap;
}

.btn-default {
    color: var(--white-color);
    background-color: var(--text-active-color);
    border: 2px solid var(--text-active-color);
}

.btn-default:hover {
    color: var(--white-color);
    background-color: var(--hover-active-color);
    border: 2px solid var(--hover-active-color);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* main page */
.slider__block {
    position: relative;
}

.slider__block .slide {
    position: relative;
    height: 500px;
	overflow: hidden;
	z-index: 0;
}

.slider__block .slide img,
.slider__block .slide picture {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
    z-index: 2;
}

.slider__block .slider-filter-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--black-color);
    opacity: 0.5;
	mix-blend-mode: multiply;
    z-index: 5;
}

.slider__block .slide__info {
    position: relative;
    margin-top: 135px;
    color: var(--white-color);
    width: 670px;
    z-index: 10;
}

.slider__block .slide__info_text {
    color: var(--white-color);
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
}

.slider__block .slide__info_title {
    color: var(--white-color);
    font-size: 50px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 30px;
}

.slider__block .slide__bottom_border {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 110px;
    height: 1px;
    background-color: var(--white-color);
    opacity: 0.2;
	width: var(--wrapper-pk-width);
    z-index: 20;
}

.slider__block .slider__arrow_block {
	position: absolute;
	bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
	width: var(--wrapper-pk-width);
	margin: 0 auto;
    text-align: right;
}

.slider__block .slider-arrows {
    display: inline-block;
    position: relative;
    z-index: 30;
}

.slider__block .slick-prev,
.slider__block .slick-next {
    font-size: 0;
    line-height: 0;
    font-size: 0; 
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--black-color);
    opacity: 0.5;
}

.slider__block .slick-prev {
    margin-right: 10px;
    background: var(--black-color) url('../img/slider_prev.svg') center center no-repeat;
}

.slider__block .slick-next {
    background: var(--black-color) url('../img/slider_next.svg') center center no-repeat;
}

.slider__block .slick-prev:hover {
    background: var(--black-color) url('../img/slider_prev_hover.svg') center center no-repeat;
}

.slider__block .slick-next:hover {
    background: var(--black-color) url('../img/slider_next_hover.svg') center center no-repeat;
}

.slider__block .slick-dots {
    display: flex;
    align-items: center;
    position: absolute;
    list-style: none;
    padding: 0;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 25;
}

.slider__block .slick-dots li {
    position: relative;
    display: inline-block;
    color: var(--white-color);
    background-color: var(--white-color);
    margin: 0 5px;
    width: 8px;
    height: 8px;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
}

.slider__block .slick-dots li button {
    font-size: 0;
    padding: 0;
    position: relative;
    display: block;
    outline: none;
}

.slider__block .slick-dots li button:before {
    content: '';
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background: var(--white-color);
    border-radius: 50%; 
    border: 2px solid var(--white-color);
}

.slider__block .slick-dots li button:hover,
.slider__block .slick-dots li button:focus {
  outline: none;
}

.slider__block .slick-dots li.slick-active {
    background-color: transparent;
}

.slider__block .slick-dots li.slick-active button {
    display: none;
}

.about__block {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}

.about__left {
    width: 47%;
}

.about__right {
    width: 47%;
}

.about__title {
    font-size: 24px;
    font-weight: 500;
    color: var(--black-color);
    line-height: 1.2;
    margin-bottom: 20px;
}

.about__text {
    font-size: 15px;
    font-weight: normal;
    color: var(--text-gray-color);
    line-height: 1.4;
    margin-bottom: 20px;
}

.link__next {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.5;
    font-size: 12px;
    color: var(--text-active-color);
    font-weight: 600;
    position: relative;
    padding-right: 15px;
}

.link__arrow:hover {
    color: var(--hover-active-color);
}

.link__next::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 11px;
    background: url('../img/link_next.svg') center center no-repeat;
    background-size: contain;
}

.link__next:hover::after {
    background: url('../img/link_next_hover.svg') center center no-repeat;
    background-size: contain;
}

.about__pic {
    width: 100%;
    height: auto;
    position: relative;
}

.about__pic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 74px;
    height: 74px;
    background-size: contain;
    background: url('../img/about_pic_top.svg') center center no-repeat;
}

.about__pic::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 124px;
    height: 124px;
    background-size: contain;
    background: url('../img/about_pic_bottom.svg') center center no-repeat;
}

.advantages__block {
    background: var(--advantages-bg-color) url('../img/advantages_bg.svg') 0 0 no-repeat;
    background-size: 540px;
    padding: 90px 0;
}

.advantages__title {
    font-size: 40px;
    color: var(--black-color);
    line-height: 1.1;
}

.advantages__list_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.advantage__item_number {
    width: 50px;
    line-height: 1.4;
    font-weight: 600;
    font-size: 15px;
    color: var(--text-gray-color);
}

.advantage__item_number span {
    width: 50px;
    line-height: 1.4;
    font-weight: 600;
    color: var(--text-active-color);
}

.advantage__item_name {
    width: 415px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: normal;
    color: var(--black-color);
}

.advantage__item_pic {
    width: 47px;
}

.advantage__item_description {
    width: 600px;
    font-size: 15px;
    line-height: 1.4;
    color: var(--text-gray-color);
}

.chamber-member__block {
    padding: 95px 0;
}

.chamber-member__top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 40px;
}

.chamber-member__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
}

.chamber-member__slider .slick-slide {
    padding-right: 15px;
}

.chamber-member__slider .slide__content {
    width: 100%;
    cursor: pointer;
}

.chamber-member__slider .slide__content_pic {
    border: 1px solid var(--border-gray-color);
    height: 165px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.chamber-member__slider .slide__content_pic picture,
.chamber-member__slider .slide__content_pic img {
    width: 60%;
    height: 165px;
    position: static;
    margin: 0 auto;
    object-fit: contain;
    filter: saturate(0);
    opacity: 0.9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.chamber-member__slider .slide__content:hover .slide__content_pic picture,
.chamber-member__slider .slide__content:hover .slide__content_pic img {
    filter: saturate(100%);
    opacity: 1;
}

.chamber-member__slider_title {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    color: var(--text-gray-desc);
}

.chamber-member__slider .slick-prev,
.chamber-member__slider .slick-next {
    position: absolute;
    top: 60px;
    font-size: 0;
    line-height: 0;
    font-size: 0; 
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--advantages-bg-color);
}

.chamber-member__slider .slick-prev {
    margin-right: 10px;
    left: -65px;
    background: var(--advantages-bg-color) url('../img/slider_prev_black.svg') center center no-repeat;
}

.chamber-member__slider .slick-next {
    right: -65px;
    background: var(--advantages-bg-color) url('../img/slider_next_black.svg') center center no-repeat;
}

.chamber-member__slider .slick-prev:hover {
    background: var(--advantages-bg-color) url('../img/slider_prev_hover.svg') center center no-repeat;
}

.chamber-member__slider .slick-next:hover {
    background: var(--advantages-bg-color) url('../img/slider_next_hover.svg') center center no-repeat;
}

/*mobmenu*/
.mobile-hamburger {
	display: none;
}

.sidebar-block__top {
	overflow: hidden;
}

.user-sidebar__logo {
	width: 50%;
	display: inline-block;
}

.sidebar-block__close {
	float: right;
	margin-right: 40px;
	margin-top: 0;
	font-size: 15px;
	position: relative;
	cursor: pointer;
}

.sidebar-block__close:hover {
	color: #0067aa;
}

.sidebar-block__close:before {
	content: '';
	position: absolute;
	top: 0px;
	right: -28px;
	background: url('../img/close_dark.svg');
	width: 17px;
	height: 17px;
	background-size: contain;
}

.sidebar-block__close:hover:before {
	background: url('../img/close_dark_hover.svg');
	width: 17px;
	height: 17px;
	background-size: contain;
}

.sidebar {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	overflow: auto;
	width: 100%;
	height: 100%;
	transition: transform 500ms ease-in-out 0ms;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	background-color: #fff;
	color: #373737;
	padding: 25px;
}

.sidebar_opened {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	width: 85%;
}

.sidebar-overlay {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: none;
	height: 100%;
}