@charset "UTF-8";
.booking__block .booking__block_filter, .header__filter, .read__more {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

body {
  margin: 0;
  height: 100%;
}

* {
  outline: none;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 5px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover, a:active {
  color: #DA2128;
}

h1 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 40px;
  color: var(--black-color);
}

h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 20px 0;
  color: var(--black-color);
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 24px 0;
  color: var(--black-color);
}

h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 18px 0;
  color: var(--black-color);
}

h5 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 17px 0;
  color: var(--black-color);
}

h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 16px 0;
  color: var(--black-color);
}

ul,
ol {
  margin: 10px 0;
  padding: 0;
  color: #fff;
}

li {
  margin: 0 0 5px 30px;
  position: relative;
}

table {
  width: 100%;
  display: block;
  padding: 0;
  margin: 30px 0;
  text-align: left;
  border-spacing: 10px 0;
  overflow-x: auto;
  white-space: nowrap;
}

th,
td {
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
  min-width: 295px;
}

th {
  border-bottom: 2px solid #DA2128;
  color: #000;
}

td {
  border-bottom: 1px solid #E6E6E6;
  color: #4F4F4F;
  font-weight: 400;
}

div {
  vertical-align: top;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  max-width: 100%;
  width: 100%;
  height: auto;
  border-style: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  outline: none;
}

dt,
dd {
  line-height: 1.4;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1em;
  margin-bottom: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

q {
  quotes: "«" "»";
  font-style: italic;
}

q q {
  quotes: "„" "“";
  font-style: italic;
}

blockquote {
  padding: 1.5em;
  margin: 3em;
  border-left: 5px solid var(--text-active-color);
  font-size: 1.2em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  margin: 1em 0;
  padding: 0;
}

mark {
  background-color: #fff;
  color: #000;
}

small {
  font-size: 80%;
}

.booking__block .rooms__item, .booking__block .booking__addreses_header, .cards__block .cards__item {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px 2px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.booking__block .rooms__item:hover, .booking__block .booking__addreses_header:hover, .cards__block .cards__item:hover {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.active {
  color: #DA2128 !important;
}

html,
body {
  font-family: "Inter";
  font-size: 15px;
  background: #1c1c1c;
  color: #fff;
  font-weight: 400;
  height: 100%;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.page__main {
  flex: 1 1 auto;
}

.page__header {
  position: relative;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background-color: #1c1c1c;
  background-size: cover;
}

.header.header-with-bg {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.header.header-with-bg .header__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 30;
}
.header .header__top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 0;
}
.header .header__top_content .header__left {
  margin-right: 80px;
}
.header .header__top_content .header__logo {
  display: block;
  width: 125px;
}
.header .header__top_content .header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .header__top_content .header__mob {
  display: none;
}
.header .header__menu .header__menu_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-right: 40px;
}
.header .header__menu .header__menu_item {
  margin-right: 25px;
}
.header .header__menu .header__menu_item:last-child {
  margin-right: 0;
}
.header .header__menu .header__menu_link {
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__social .header__social_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
.header__social .header__social_item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  transition: all 0.5s ease-in-out;
}
.header__social .header__social_item:last-child {
  margin-right: 0;
}
.header__social .header__social_item.social_phone {
  background: url("../img/social/phone.svg") center center no-repeat;
  background-size: contain;
}
.header__social .header__social_item.social_phone:hover {
  background: url("../img/social/phone_hover.svg") center center no-repeat;
  background-size: contain;
}
.header__social .header__social_item.social_whatsapp {
  background: url("../img/social/whatsapp.svg") center center no-repeat;
  background-size: contain;
}
.header__social .header__social_item.social_whatsapp:hover {
  background: url("../img/social/whatsapp_hover.svg") center center no-repeat;
  background-size: contain;
}
.header__social .header__social_item.social_telegram {
  background: url("../img/social/telegram.svg") center center no-repeat;
  background-size: contain;
}
.header__social .header__social_item.social_telegram:hover {
  background: url("../img/social/telegram_hover.svg") center center no-repeat;
  background-size: contain;
}
.header__social .header__social_item.social_instagram {
  background: url("../img/social/instagram.svg") center center no-repeat;
  background-size: contain;
}
.header__social .header__social_item.social_instagram:hover {
  background: url("../img/social/instagram_hover.svg") center center no-repeat;
  background-size: contain;
}
.header__social .header__social_item.social_youtube {
  background: url("../img/social/youtube.svg") center center no-repeat;
  background-size: contain;
}
.header__social .header__social_item.social_youtube:hover {
  background: url("../img/social/youtube_hover.svg") center center no-repeat;
  background-size: contain;
}

.btn {
  padding: 15px 25px;
  border-radius: 8px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  border: 1px solid #DA2128;
  color: #DA2128;
}

.header__bg {
  height: 100%;
  z-index: 1;
}
.header__bg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__content_block {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  text-align: center;
  width: 60%;
}
.header__content_block .header__content_header {
  font-size: 40px;
}
.header__content_block .header__content_text {
  font-size: 25px;
}

.header__filter {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(33, 33, 33, 0.5));
  z-index: 10;
}

.header_down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 10px;
  background: url("../img/down.svg") center center no-repeat;
  background-size: contain;
  z-index: 10;
  cursor: pointer;
}

.cards__block {
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  -webkit-clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
          clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
  background: url("../img/content/cards_bg.png") center center no-repeat;
  background-size: cover;
}
.cards__block .cards__items {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.cards__block .cards__item {
  width: 23%;
  padding: 25px;
  text-align: center;
  border-radius: 8px;
}
.cards__block .cards__item_pic {
  margin: 0 auto 20px auto;
}
.cards__block .cards__item_pic img {
  height: 50px;
  width: auto;
}
.cards__block .cards__item_text {
  font-weight: 500;
  font-size: 18px;
}

.about__block {
  padding: 90px 0;
}
.about__block .about__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about__block .about__item {
  width: 46%;
}
.about__block .about__item_video {
  text-align: center;
}
.about__block .about__item_video video {
  width: 100%;
}
.booking__block {
  background: url("../img/content/booking_bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 120px 0 80px 0;
  -webkit-clip-path: polygon(0% 0%, 50% 5%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
          clip-path: polygon(0% 0%, 50% 5%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
  position: relative;
}
.booking__block .booking__block_filter {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 2;
}
.booking__block .booking__header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  z-index: 3;
  position: relative;
}
.booking__block .booking__addresses_item {
  margin-bottom: 40px;
  z-index: 3;
  position: relative;
}
.booking__block .booking__addreses_header {
  padding: 15px 25px;
  display: inline-block;
  border-radius: 8px;
}
.booking__block .rooms__items {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  z-index: 3;
  position: relative;
}
.booking__block .rooms__item {
  width: 23%;
  border-radius: 8px;
  position: relative;
  margin-right: 34px;
  margin-bottom: 34px;
  padding: 15px 25px;
  text-align: center;
}
.booking__block .rooms__item:nth-child(4n) {
  margin-right: 0;
}
.booking__block .rooms__item:hover .rooms__item_pic img {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.booking__block .rooms__item_pic {
  height: 140px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 8px;
}
.booking__block .rooms__item_pic img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.booking__block .rooms__item_name {
  text-transform: uppercase;
  font-size: 14px;
}
.booking__block .rooms__item_places {
  font-size: 13px;
}

.footer {
  padding: 30px 0 10px 0;
}

.footer__top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer__left {
  width: 150px;
  margin-right: 80px;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  margin-right: 20px;
}

.footer__menu_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
  margin-right: 40px;
}

.footer__menu_item {
  margin: 10px;
}
.footer__menu_item:last-child {
  margin-right: 0;
}

.footer__menu_link {
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__social .header__social_items {
  margin-right: 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom p, .footer__bottom a {
  color: #878787;
  margin: 0;
}

.search__mobile {
  display: none;
}

.sidebar {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  overflow: scroll;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  color: #fff;
  padding: 25px 0 20px 0;
}
.sidebar .sidebar__block_top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
.sidebar .sidebar__logo {
  width: 180px;
}
.sidebar .sidebar__close {
  position: absolute;
  display: inline-block;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.sidebar .sidebar__close::after {
  content: "";
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: url("../img/burger_close_mob.svg") center center no-repeat;
  background-size: 30px;
}
.sidebar .sidebar__block {
  position: relative;
  height: 100%;
}
.sidebar .sidebar__menu_items {
  width: 100%;
  margin-bottom: 30px;
}
.sidebar .sidebar__menu_items .sidebar__menu_item {
  padding: 16px 0;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.sidebar .sidebar__menu_items .sidebar__menu_item .sidebar__menu_link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.sidebar .sidebar__menu_items .sidebar__menu_set {
  background: url("../img/menu_set.svg") center center no-repeat;
  width: 9px;
  height: 9px;
  background-size: 9px;
  transform: rotate(-90deg);
}
.sidebar .sidebar__sub-menu_items {
  display: none;
  width: 100%;
  margin-top: 7px;
}
.sidebar .sidebar__sub-menu_items .sidebar__sub-menu_item {
  margin-bottom: 6px;
}
.sidebar .sidebar__sub-menu_items .sidebar__sub-menu_item .sidebar__sub-menu_link {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: #fff;
  margin: 0;
}
.sidebar .sidebar__contacts {
  margin-top: 50px;
}

.sidebar_opened {
  display: block;
}

.inner__page {
  padding: 40px 0;
}

.booking__page_content {
  margin-bottom: 50px;
}

.booking__page_info p {
  color: #DA2128;
  font-weight: 500;
}

.booking__table {
  margin: 30px 0;
}
.booking__table .booking__days_list {
  max-width: 75%;
}
.booking__table .booking__days_items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
}
.booking__table .booking__days_items .booking__days_item {
  padding: 7px;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
}
.booking__table .booking__days_items .booking__days_item p {
  margin: 0;
}
.booking__table .booking__days_items .booking__days_item-day {
  margin-right: 20px;
  padding: 7px 12px;
}
.booking__table .booking__days_items .booking__days_times {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
.booking__table .booking__days_items .booking__days_times .booking__days_item-time {
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #5cb85c;
  box-shadow: 2px 3px 3px 0 rgba(60, 238, 176, 0.6);
  transition: all 0.5s ease-in-out;
}
.booking__table .booking__days_items .booking__days_times .booking__days_item-time:hover {
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: #fff;
  box-shadow: none;
}
.booking__table .booking__days_items .booking__days_times .booking__days_item-time.ordered {
  box-shadow: 2px 3px 3px 0 rgba(238, 60, 60, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
  cursor: default;
}

.modal__container {
  background-color: #1c1c1c;
  padding: 30px 60px;
  border-radius: 8px;
}
.modal__container .fancybox-close-small {
  display: none;
}
.modal__container .modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: url("../img/burger_close_mob.svg") center center no-repeat;
  background-size: 20px;
  cursor: pointer;
}
.modal__container .modal__header {
  text-align: center;
}
.modal__container .modal__room_name {
  font-size: 20px;
  text-align: center;
}
.modal__container .modal__info_items {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 20px 0;
}
.modal__container .modal__info_items .modal__info_item {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-right: 1px solid #fff;
  text-align: center;
  width: 33.3%;
}
.modal__container .modal__info_items .modal__info_item:first-child {
  border-radius: 8px 0 0 8px;
}
.modal__container .modal__info_items .modal__info_item:last-child {
  border-right: none;
  border-radius: 0 8px 8px 0;
}
.modal__container .modal__info_items .modal__info_item .modal__info_item_header {
  font-size: 14px;
  color: #878787;
}
.modal__container .modal__info_items .modal__info_item .modal__info_item_text {
  font-size: 17px;
}
.modal__container .form__fields {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 650px;
}
.modal__container .form__fields .form__field {
  width: 48%;
}
.modal__container .form__field {
  margin: 10px 0;
  width: 100%;
}
.modal__container .form__field.form__field_btn {
  text-align: center;
}
.modal__container .form__field.form__field_btn .btn {
  height: 40px;
  padding: 10px 15px;
  display: inline-block;
}
.modal__container .form__field .modal__label {
  display: block;
  margin-bottom: 5px;
}
.modal__container .form__field .modal__select,
.modal__container .form__field .modal__input {
  width: 100%;
  height: 40px;
  background-color: #1c1c1c;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 8px;
}
.modal__container .form__field .modal__select:-webkit-autofill, .modal__container .form__field .modal__select:-webkit-autofill:hover, .modal__container .form__field .modal__select:-webkit-autofill:focus, .modal__container .form__field .modal__select:-webkit-autofill:active,
.modal__container .form__field .modal__input:-webkit-autofill,
.modal__container .form__field .modal__input:-webkit-autofill:hover,
.modal__container .form__field .modal__input:-webkit-autofill:focus,
.modal__container .form__field .modal__input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}
.modal__container .form__field .modal__select::-moz-placeholder, .modal__container .form__field .modal__input::-moz-placeholder {
  color: #878787;
}
.modal__container .form__field .modal__select::placeholder,
.modal__container .form__field .modal__input::placeholder {
  color: #878787;
}
.modal__container .form__field .modal__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 40px;
  background: url(../img/dropdowm-arrow.svg) right center no-repeat;
}
.modal__container .form__field .modal__select option {
  color: #1c1c1c;
}