@import "_reset.scss";

%blur-block {
    border-top: 1px solid $color-border;
    border-left: $color-border;
    box-shadow: 5px 5px 30px 2px $color-border;
    background-color: $color-border;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);

    &:hover {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.active {
	color: $color-active!important;
}

.read__more {
    @extend %full-width-absolute;
}

html,
body {
	font-family: 'Inter';
	font-size: 15px;
	background: $color-bg;
	color: $color-text;
	font-weight: 400;
    height: 100%;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
	width: $wrapper-width;
	margin: 0 auto;
}

.page__main {
    flex: 1 1 auto;
}

.page__header {
    position: relative;
    backdrop-filter: blur(12px);
    background-color: $color-bg;
    background-size: cover;
}

.header {
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    // clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);

    .header__top {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        backdrop-filter: blur(2px);
        z-index: 30;
    }

    .header__top_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-border;
        padding: 15px 0;

        .header__left {
            margin-right: 80px;
        }
    
        .header__logo {
            display: block;
            width: 125px;
        }
    
        .header__right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .header__mob {
            display: none;
        }
    }

    .header__menu {
        .header__menu_items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            margin-right: 40px;
        }

        .header__menu_item {
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }
        }

        .header__menu_link {
            font-size: 15px;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

.header__social {
    .header__social_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 40px;
    }
    .header__social_item {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        &:last-child {
            margin-right: 0;
        }
        
        &.social_phone {
            background: url('../img/social/phone.svg') center center no-repeat;
            background-size: contain;
            
            &:hover {
                background: url('../img/social/phone_hover.svg') center center no-repeat;
                background-size: contain;
            }
        }
        &.social_whatsapp {
            background: url('../img/social/whatsapp.svg') center center no-repeat;
            background-size: contain;
            
            &:hover {
                background: url('../img/social/whatsapp_hover.svg') center center no-repeat;
                background-size: contain;
            }
        }
        &.social_telegram {
            background: url('../img/social/telegram.svg') center center no-repeat;
            background-size: contain;
            
            &:hover {
                background: url('../img/social/telegram_hover.svg') center center no-repeat;
                background-size: contain;
            }
        }
        &.social_instagram {
            background: url('../img/social/instagram.svg') center center no-repeat;
            background-size: contain;
            
            &:hover {
                background: url('../img/social/instagram_hover.svg') center center no-repeat;
                background-size: contain;
            }
        }
        &.social_youtube {
            background: url('../img/social/youtube.svg') center center no-repeat;
            background-size: contain;
            
            &:hover {
                background: url('../img/social/youtube_hover.svg') center center no-repeat;
                background-size: contain;
            }
        }
    }
}

.btn {
    padding: 15px 25px;
    border-radius: 8px;
    color: $color-text;
    background-color: transparent;
    border: 1px solid $color-text;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    &:hover {
        border: 1px solid $color-active;
        color: $color-active;

    }
}

.header__bg {
    height: 100%;
    z-index: 1;
    img {
        height: 100%;

        object-fit: cover;
    }
}

.header__content_block {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    text-align: center;
    width: 60%;

    .header__content_header {
        font-size: 40px;
    }
    .header__content_text {
        font-size: 25px;
    }
}

.header__filter {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(33, 33, 33, 0.5));
    
    @extend %full-width-absolute;   
    z-index: 10;
}

.header_down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 10px;
    background: url('../img/down.svg') center center no-repeat;
    background-size: contain;
    z-index: 10;
    cursor: pointer;
}

.cards__block { 
    padding: 90px 0;
    position: relative;
    overflow: hidden;
    clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
    background: url('../img/content/cards_bg.png') center center no-repeat;
    background-size: cover;

    .cards__items {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    .cards__item {
        width: 23%;
        padding: 25px;
        text-align: center;
        border-radius: 8px;

        @extend %blur-block;
    }
    .cards__item_pic {
        margin: 0 auto 20px auto;

        img {
            height: 50px;
            width: auto;
        }
    }
    .cards__item_text {
        font-weight: 500;
        font-size: 18px;
    }
}

.about__block {
    padding: 90px 0;
    .about__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .about__item {
        width: 46%;
    }

    .about__item_video {
        text-align: center;
        video {
            width: 100%;
        }

    }
    .about__item_content {
        p {
            // font-size: 15px;
        }
    }
}

.booking__block {
    background: url('../img/content/booking_bg.jpg') center center no-repeat;
    background-size: cover;
    padding: 120px 0 80px 0;
    clip-path: polygon(0% 0%, 50% 5%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
    position: relative;

    .booking__block_filter {
        @extend %full-width-absolute;
    
        backdrop-filter: blur(4px);
        z-index: 2;
    }

    .booking__header {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        z-index: 3;
        position: relative;
    }
    .booking__addresses_item {
        margin-bottom: 40px;
        z-index: 3;
        position: relative;
    }

    .booking__addreses_header {
        padding: 15px 25px;
        display: inline-block;
        border-radius: 8px;
        @extend %blur-block;
    }

    .rooms__items {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
        z-index: 3;
        position: relative;
    }
    .rooms__item {
        width: 23%;
        border-radius: 8px;
        position: relative;
        margin-right: 34px;
        margin-bottom: 34px; 
        padding: 15px 25px;
        text-align: center;
        @extend %blur-block;

        &:nth-child(4n) {
            margin-right: 0;
        }

        &:hover {
            .rooms__item_pic {
                img {
                    transform: scale(1.1);
                    -webkit-transition: all 0.5s ease-in-out;
                    -moz-transition: all 0.5s ease-in-out;
                    -ms-transition: all 0.5s ease-in-out;
                    -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                }
            }
        }
        
    }
    .rooms__item_pic {
        height: 140px;
        overflow: hidden;
        margin-bottom: 10px;
        border-radius: 8px;
        img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

    }
    .rooms__item_name {
        text-transform: uppercase;
        font-size: 14px;
    }

    .rooms__item_places {
        font-size: 13px;
    }
}

.footer {
    padding: 30px 0 10px 0;
}

.footer__top_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.footer__left {
    width: 150px;
    margin-right: 80px;
}

.footer__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__menu {
    margin-right: 20px;
}
.footer__menu_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
    margin-right: 40px;
}
.footer__menu_item {
    margin: 10px;

    &:last-child {
        margin-right: 0;
    }
}
.footer__menu_link {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}
.footer__social {
    .header__social_items {
        margin-right: 0;
    }
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p, a {
        color: $color-gray;
        margin: 0;
    }
}

// mobmenu
.search__mobile {
    display: none;
}

.sidebar {
    display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	overflow: scroll;
	width: 100%;
	height: 100%;
	background-color: $color-bg;
	color: $color-text;
	padding: 25px 0 20px 0;

    .sidebar__block_top {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 20px;
    }

    .sidebar__logo {
        width: 180px;
    }

    .sidebar__close {
        position: absolute;
        display: inline-block;
        right: 0;
        width: 50px;
        height: 50px;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            width: 50px;
            height: 50px;
            background: url('../img/burger_close_mob.svg') center center no-repeat;
            background-size: 30px; 
        }
    }
    
    .sidebar__block {
        position: relative;
        height: 100%;
    }
    
    .sidebar__menu_items {
        width: 100%;
        margin-bottom: 30px;
        
        .sidebar__menu_item {
            padding: 16px 0;
            border-bottom: 1px solid $color-text;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .sidebar__menu_link {
                color: $color-text;
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                margin: 0;
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;
            }
        }
        
        .sidebar__menu_set {
            background: url('../img/menu_set.svg') center center no-repeat;
            width: 9px;
            height: 9px;
            background-size: 9px;
            transform: rotate(-90deg);
        }
    }
    
    .sidebar__sub-menu_items {
        display: none;
        width: 100%;
        margin-top: 7px;
        
        .sidebar__sub-menu_item {
            margin-bottom: 6px;
            
            .sidebar__sub-menu_link {
                font-size: 15px;
                font-weight: 400;
                line-height: 21px;
                text-decoration: none;
                color: $color-text;
                margin: 0;
            }
        }
    }
    
    .sidebar__contacts {
        margin-top: 50px;
    }
}

.sidebar_opened {
    display: block;
}




// end mobmenu